@page "{id?}"
@using TrainStation.Models
@model TrainStation.Pages.Ride.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ride</h4>
<hr/>
<div class="row">
    <div class="col-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ride.ID"/>
            <div class="form-group">
                <label asp-for="Ride.Name" class="control-label"></label>
                <input asp-for="Ride.Name" class="form-control"/>
                <span asp-validation-for="Ride.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ride.Engine" class="control-label"></label>
                <select asp-for="SelectedEngineId" class="form-control" asp-items="Model.Engines"></select>
                <span asp-validation-for="Ride.Engine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ride.Driver" class="control-label"></label>
                <select asp-for="SelectedDriverId" class="form-control" asp-items="Model.Employees"></select>
                <span asp-validation-for="Ride.Driver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ride.Conductors" class="control-label"></label>
                <div class="row">
                    <div class="col-4">
                        <h4>ALREADY IN THE RIDE</h4>
                        <select name="selectedConductorId" size="8" asp-for="SelectedConductorId" class="form-control" asp-items="Model.ListRideConductors">
                            <option value="" disabled>--- Select Conductor ---</option>
                        </select>
                        <button asp-page-handler="deleteConductor" class="btn btn-outline-primary">Remove</button>
                    </div>
                    <div class="col-4">
                        <h4>AVAILABLE CONDUCTORS</h4>
                        <select name="selectedConductorId" size="8" asp-for="SelectedConductorId" class="form-control" asp-items="Model.ListAvailableConductors">
                            <option value="" disabled>--- Select Conductor ---</option>
                        </select>
                        <button asp-page-handler="addConductor" class="btn btn-outline-primary">Add</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Ride.Cars" class="control-label"></label>
                <div class="row">
                    <div class="col-4">
                        <h4>ALREADY IN THE RIDE</h4>
                        <select size="8" asp-for="SelectedCarId" class="form-control" asp-items="Model.ListRideCars">
                            <option value="" disabled>--- Select Car ---</option>
                        </select>
                        <button asp-page-handler="deleteCar" class="btn btn-outline-primary">Remove</button>
                    </div>
                    <div class="col-4">
                        <h4>AVAILABLE CARS</h4>
                        <select size="8" asp-for="SelectedCarId" class="form-control" asp-items="Model.ListAvailableCars">
                            <option value="" disabled>--- Select Car ---</option>
                        </select>
                        <button asp-page-handler="addCar" class="btn btn-outline-primary">Add</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>